@font-face {
  font-family:"Klee";
  src:url("Klee_One/KleeOne-Regular.ttf") format("truetype");
 }
body {
   font-family:"Klee";
    color: #333;
    background-color:rgb(211, 158, 97);
    margin:0;
  }
  
  .loading{
    position:fixed;
    inset:0;
    z-index:10;
    height:100vh;
    background-color:#212121;
  }
  .loading-inner img{
    height:200px;
  }
  .loading-inner{
    width:100%;
    height:inherit;
    display:grid;
    place-content:center;
    row-gap:10px;
  }

    .container-head{
      width:100%;
      margin-bottom:50vh;
      position:relative;
    }
    .container-head img{
     width:100%;
    }
    .first-container{
      width:100%;
      margin-bottom:40vh;
      position:relative;
    }
    .first-container img{
      width:100%;
    }
    .first-copy{
      color:white;
      position:absolute;
      left:20%;
      top:20%;
    }

    .Box-container{
      width:100%;
      position:absolute;
      top:0;
      left:0;
    }
    .Box {
      margin-bottom:40%;
    }
    .box{
      width:30vh;
      height:40vh;
      background-color:white;
      margin-left:10%;
      margin-bottom:50%;
    }
    .box2{
      width:30vh;
      height:40vh;
      background-color:white;
      margin:5% 5% 0 78%;

    }


  .bun-container{
    width:50%;
    margin:0 auto;
    margin-bottom:30vh;
  }
  .bun-container p{
    font-size:20px;
    color:white;
    text-align:center;
  }

  .intro-animation{
    width:100%;
    height:100vh;
    display:flex;
    text-align:center;
    align-items:center;
    justify-content:center;
    position:relative;
  }
  .intro-copy{
    position:absolute;
    top:50%;
    left:55%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    color:#2c3e50;
    display:inline-block;
    text-align:left;
    padding-left:50px;
  }
  .intro-copy h2,h3{
    font-size:30px;
  }
  .intro-copy p{
    font-size:24px;
  }
  .intro-illust{
    position:relative;
    height:100%;
  }
  .intro-illust img{
    position:absolute;
    top:50%;
    right:10;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
  }

  .table-container{
    height:100vh;
    max-width:60%;
    margin: 0 auto;
    padding: 10% 20% 10% 20%;
  }
  .table{
    margin-bottom:15vh;
  }
  .table a{
    text-decoration:none;
    text-align:center;
  }
  .table p{
    font-size:30px;
    color:rgb(255, 255, 255);  
  }
  .table-back1{
    background-image:url("img_folder/table1.jpg");
    background-size:cover;
    height:15vh;
    padding:8px 0 8px 0;
  }
  .table-back2{
    background-image:url("img_folder/table2.jpg");
    background-size:cover;
    height:15vh;
    padding:8px 0 8px 0;
  }
  .table-back3{
    background-image:url("img_folder/table3.jpg");
    background-size:cover;
    height:15vh;
    padding:8px 0 8px 0;
  }
  .table-container div:hover{
    opacity:.9;
  }
  
  .chapter {

    padding: 32px;
    margin-bottom: 64px;
  }
  .chapter.common {
    padding:30px 70px 30px 70px;
  }
  
  .chapter h2 {
    font-size: 32px;
    color: #ffffff;
    margin:80px 0;
   text-align:center;
  }
  .chapter-talk{
    margin-top:70px;
  }
  .chapter-talk dl{
  display:flex;
  font-size:16px;
  color:white;
  margin-bottom:40px;
  }
  .chapter-talk dt{
    width:15%;
    text-align:right;
  }
  .chapter-talk dd{
    width:80%;
    line-height:1.8em;
  }

    .container-article {
      max-width: 60%;
      margin: 0 auto;
      padding: 0 20px;
    }
  .big-container2{
    display:flex;
    height:500vh
  }
  .big-container3{
    height:850vh
  }

  .page-button{
    justify-content:center;
    display:flex;
    gap:150px;
  }
  .page-button a{
    text-decoration:none;
    height:150px;
    width:100px;
  }
  .page-button p{
    color:rgb(83, 83, 83);
    text-decoration:none;
    font-size:16px;
  }
  .imgtable{
    height:100px;
  }
  .imgtable:hover{
    opacity:.5;
  }
  .btn{
    width:100px;
    margin:0 auto;
    position:relative;
    margin-inline:auto;

  }
  .btn img{
    height:auto;
    left:0;
    position:absolute;
    width:100%;
  }
  .btn img:last-of-type{
    opacity:0;
    transition:opacity .7s;
  }
  .btn:hover img{
    opacity:1;
  }
  .btn:hover img:first-of-type{
    opacity:0;
  }


  @media screen and (max-width: 950px) {
    .chapter-talk dl{
      display:flex;
      font-size:14px;
      }
      a{
        text-decoration:none;
        width:60px;
      }
      .page-button p{
        font-size:13px;
      }
      .box2{
        margin-left:70%;
      }
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 32px;
    }
  
    span {
      font-size: 16px;
    }
  
  
    .header h1 {
      margin-bottom: 12px;
    }
  
    .chapter.common{
      height: 2800px;
      padding: 30px 50px 30px 50px;
      margin-bottom: 48px;
    }

    .chapter h2 {
      font-size: 24px;
    }
  
    .chapter-talk dl{
      display:flex;
      font-size:12px;
      }
      .page-button p{
        font-size:11px;
      }
      .intro-animation img{
        height:70vh;
      }
      .intro-copy h2,h3{
        font-size:24px;
      }
      .intro-copy p{
        font-size:18px;
      }
  }

